/* #region Reset CSS and basic styling */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
/* #endregion */

/* #region Body Styles */
body {
  background-color: rgb(25, 184, 91);
}
/* #endregion */

/* #region Global Styling */
.Generic {
  font-size: 50%;
}
/* #endregion */

/* #region Navigation Bar Styles */
.topnav {
  border-radius: 0;
  height: 8%;
  background-color: rgb(25, 184, 91);
  overflow: hidden;
  border-bottom: 1px solid white;
}
/* #endregion */

/* #region Navigation Links Styles */
.topnav a {
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px 18px;
  text-decoration: none;
  font-size: 150%;
  border-radius: 100px;
  border: 1px solid black;
  background-color: #03ca1ec6;
}
/* #endregion */

/* #region Navigation Links Hover Styles */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* #endregion */

/* #region Active Navigation Link Styles */
.topnav a.active {
  border-radius: 100px;
  background-color: rgb(8, 106, 11);
  color: rgb(0, 0, 0);
  border: 1px solid white;
}
/* #endregion */

/* #region Header Styles */
h1 {
  margin: 15px 0px 0px 15px;
}
/* #endregion */

/* #region Sub-Header Styles */
h4 {
  margin: 5px 0px 5px 15px;
}
/* #endregion */

/* #region Welcome Section Styles */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: rgb(25, 184, 91);
  background-image: rgb(25, 184, 91);
}
/* #endregion */

/* #region Welcome Section Text Styles */
.welcome-section > p {
  font-size: 15%;
  font-weight: 200;
  font-style: italic;
  color: rgb(12, 7, 7);
}
/* #endregion */

/* #region Welcome Section Header Styles */
.welcome-section > h1 {
  /* padding-top: 5rem; */
  font-size: 4rem;
  font-weight: 200;
  font-style: italic;
  color: rgb(0, 0, 0);
}
/* #endregion */

/* #region About Me */
.about-me {
  display: flex;
  flex-direction: column; */
  justify-content: top;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #736d6d;
  background-image: url(/Images/Sitting-me.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid snow;
}
.about-me > h2 {
  margin-top: 0px;
  padding-bottom: 0;
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-weight: 50;
}
.about-me > p {
  text-align: center;
  background-color: green;
  border: 3px solid snow;
  color: white;
  font-size: 1rem;
  width: 30%;
}
/* #endregion */

/* #region Projects Section Styles */
.projects-section {
  text-align: center;
  padding: 0rem 0rem;
  background-image: url(/Images/test.png);
  background-repeat: repeat;
  background-size: 100% 100%;
}

.project-header{
  font-size: 2rem;
  display: block;
  margin: 5px 0px 10px 0px;
  text-align: center;


}
.project-container{
  display: inline-flex;
  align-content: center;
  justify-content: center;
}
.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: solid 4px white;
}
.Oslo-Spek{
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 10px;
  width: 45vw;
  /* max-width: 640px; */
  padding-bottom: 10rem;
  background-image: url(/Images/lift.gif);
  background-size: 100% 100%;
  border: white solid 3px;
 align-items: center;
  
}
.Oslo-Spek>h3, .PLS>h3{
  color: rgb(28, 99, 0);
  font-size: 5rem
}

  .projects>p{
    font-size: 100%;
  }
  .Oslo-Spek>p{
    color: whitesmoke;
    font-size: 3rem;
  }
  .PLS>p{
    color: black;
    font-size: 3rem;
  }
.PLS{
  
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 45vw;
  background-image: url(/Images/pls.jpg);
  background-size: 100% 100%;
  border: white solid 3px;
  max-width: 640px;
  padding-bottom: 10rem;
  /* display: flex;
  justify-content: flex-end; */

}
/*#endregion*/

/* #region contact-me*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60vh;
  padding: 0 1rem;
  background: rgb(37, 238, 144);
}
.contact-section-header > h2 {
  font-size: 2rem;
}
.contact-section-header > p {
  color: blue;
  font-style: italic;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
  color: rgb(115, 95, 95);
  padding: 10px 16px;
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.contact-details:hover {
  background-color: #ddd;
  color: black;
}
/* #endregion */

/* #region Font Awesome Icon Styles */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github {
  background: #55ACEE;
  color: white;
}
.fa-at {
  background: #158a24;
  color: white;
}
/* #endregion */

/* #region Footer Styles */
.sub-title {
  font-size: 200%;
}
/* #endregion */

/* #region Media Queries */
@media only screen and (max-width: 600px) {
  .about-me {
    background-size: 100% 75%;
    justify-content: top;
    align-items: center;
    background-color: rgb(25, 184, 91);
    padding: 0px;
  }
  .PLS, .Oslo-Spek{
    height: 50vh;
  }
  .Oslo-Spek>p, .PLS>p{
    font-size: 1rem;
  }
  .Oslo-Spek>h3, .PLS>h3{
    font-size: 3rem;
  }

  .about-me > h2 {
    margin-bottom: 25%;
  }

  .about-me > p {
    width: 70%;
    height: 30%;
  }

  .topnav a {
    font-size: 90%;
    padding: 10px 5px;
  }

  hr {
    border-top: 2px solid red;
  }
}

/* #endregion */


